/* CSS STYLE SHEET FOR PROJECT WEBPAGES MOBILE*/

@media only screen and (max-width: 768px) 
{

    html{
        scroll-behavior: smooth;
        overflow-y: scroll;
        background-position: center;
        background-repeat: no-repeat;
        width:100vw;
        overflow-x: hidden;
        background: radial-gradient(96.88% 248% at 3.13% 96%, #4C0F29 0%, #9E1A89 64.58%, #4C0F29 100%);
    }
    body {
        background-repeat: no-repeat;
        width:100vw;
        margin-right:5px;
        margin-left:5px;
        margin-top:20px;
        overflow-x: hidden;
    }
        .nav,
        .icon-rh,
        .nav-links,
        .download-resume {
    
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .icon-rh img{
            width:20vw;
        }
        .icon-rh {
            display:flex;
            align-items:center;
            justify-content:center;
            width:100vw;
            height:20vw;
        }
        #lightbox {
            display:flex;
            justify-content:center;
            align-items:center;
            background: rgba(0,0,0,0.8);
            width:100vw;
            position:absolute;
            top:0;
            left:0;
            z-index:-2;
            opacity:0;
            transition:opacity 1s;
        }
        #lightbox.showLightbox {
            opacity:1;
            z-index:2;
        }
        #lightbox img {
            width:100vw;
        }
        .nav-links ul {
            margin-right:10px;
            margin-left:10px;
            padding-right:5px;
            padding-left:5px;
            width:100vw;
        }
        .nav-links ul li a {
            font-size:4vw;
        }
        .download-resume {
            width:100vw;
        }
        .download-resume a {
            font-family:'montserrat';
            text-decoration:none;
            color:white;
            border-radius: 100px;
            font-size:3vw;
            border:2px solid white;
            padding-right:10px;
            padding-left:10px;
            padding-top:3px;
            padding-bottom:3px;
        }
    
    section {
        width:0vw;
        z-index:5;
        position:absolute;
        animation-name: fadeIn-background;
        animation-duration: 5s;
        opacity:0;
        background: radial-gradient(96.88% 248% at 3.13% 96%, #4C0F29 0%, #9E1A89 64.58%, #4C0F29 100%);
    }
    
    section .banner h1 {
        font-family:'montserrat';
        color:white;
        text-align:center;
        font-size:16vw;
        opacity:0;
        animation-name: fadeIn;
        animation-duration: 1.3s;
    }
    section .banner2 h1 {
        font-family:'montserrat';
        color:white;
        text-align:center;
        font-size:0;
        opacity:0;
        animation-name: fadeIn2;
        animation-delay:2.5s;
        animation-duration: 2s;
    }
    @keyframes fadeIn-background {
        0%{
            opacity:1;
            width:100vw;
            height:100vh;
        }
        90%{
            opacity:1;
            width:100vw;
            height:100vh;
        }
        100%{
            opacity:0;
            display:none;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        80% {
            opacity:1;
        }
        100% {
            opacity:0;
        }
    }
    @keyframes fadeIn2 {
        0% {
            opacity:0;
        }
        1% {
            opacity:0;
            font-size:15vw;
        }
        15% {
            opacity: 1;
            font-size:15vw;
        }
        100% {
            opacity:0;
            font-size:15vw;
        }
    }
    nav {
        margin-top:10px;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
    }
    .nav-links {
        width: 60vw;
    }
    .nav-links ul {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
    }
    .nav-links li {
        list-style: none;
    }
    .nav-links li a {
        font-family:'Montserrat';
        color:white;
        font-size: 2vw;
        line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
        text-decoration: none;
    }
    
    .download-resume a:hover{
        animation:pulse 1s;
    }
    @keyframes pulse{
        0%{
            transform:scaleX(1);
        }
        50%{
            transform:scale3d(1.0,1.09,1.09);
        }
            100%{
            transform:scaleX(1);
        }
    }
    .nav-links li a:hover {
        color:rgba(255, 192, 203, 0.815);
    }


/*BEER BOX PROJECT CSS MOBILE */
#lightgallery img {
    width:80vw;
    margin-bottom:20px;
}
#lightgallery {
    display:flex;
    flex-flow:column wrap;
    margin-bottom:100px;
}
#beerbox_main {
    width:100vw;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box-1 {
    display:flex;
    flex-direction:column-reverse;
    justify-content: flex-start;
    width:100vw;
    align-items:flex-start;
}
#text {
    width:100vw;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
}
#text h1 {
    font-family:'abel', sans-serif;
    text-align:left;
    color:white;
    font-size:8vw;
}
#text p {
    font-family:'abel', sans-serif;
    color:white;
    font-size: 3.5vw;
    margin-right:20px;
}
.about_box {
    display:flex;
    flex-direction:column-reverse;
    width:100vw;
    justify-content:center;
    align-items:center;
}
#packageimg {
    width:100vw;
    margin-bottom:10px;
}
.hearts {
    width:40vw;
}
.hearts img {
    width:8vw;
}
#heartlike {
    z-index:3;
    position:absolute;
    margin:20px;
    top:1vh;
    left:75vw;
}
#heartclick {
    z-index:2;
    position:absolute;
    margin:20px;
    top:1vh;
    left:75vw;
}
.box-2 {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.description {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    width:100vw;
}
.description h1 {
    color:white;
    font-family:'abel', sans-serif;
    font-size: 6vw;
    line-height:7vh;
    width:10vw;
}

#notesnapshot {
    width:70vw;
    border-radius:5%;
}
.par-1 {
    display:flex;
    width:100vw;
    flex-direction:column-reverse;
    justify-content: center;
    align-items:center;
}
.par-1 img {
    width:90vw;
    border-radius:5%;
}
#par-1 {
    margin:30px;
    width:100vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
}
.par-2 {
    display:flex;
    width:100vw;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
#par-2 {
    margin:30px;
    width:100vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
}
#creative_briefs {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#creative_briefs img {
    width:90vw;
    margin-bottom:40px;
    border-radius:5%;
}
#jellyroll {
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:40px;
}
#jellyroll img {
    width:90vw;
    border-radius:5%;
}
.par-2 #jellyroll {
    margin:30px;
    width:100vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
}
.par-3 {
    display:flex;
    width:100vw;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.par-3 img {
    width:90vw;
    border-radius:5%;
    margin-bottom:400px;
}
#par-3 {
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
    width:90vw;
}
.par-3 quote {
    color:rgb(219, 236, 255);
    font-family:'abel', sans-serif;
    font-size: 1.2em;
    text-align:center;
    width:80vw;
}
#par-4 {
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
    width:90vw;
}
#par-5 {
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
    width:90vw;
}
.par-6 {
    display:flex;
    width:100vw;
    flex-direction:column-reverse;
    align-items:center;
    justify-content: center;
}
#par-6 {
    margin:30px;
    width:100vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.2em;
}
.par-6 img {
    width:90vw;
    border-radius:5%;
    margin-bottom:30px;
}
.logo_sketches {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.logo_sketches img {
    width:90vw;
    margin-bottom:40px;
    border-radius:5%;
}
.heatmap {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.heatmap img {
    width:90vw;
    margin-bottom:40px;
    border-radius:5%;
}
.google {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.google img {
    width:90vw;
    margin-bottom:40px;
    border-radius:5%;
}
.joined {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    margin-bottom:40px;
}
.joined img {
    width:90vw;
    border-radius:5%;
}
.github {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    margin-bottom:40px;
}
.github p {
    text-align:center;
    font-size: 1em;
    color:white;
    font-family: "Abel", sans-serif;
    margin:20px;
}
.github button {
    background-image: linear-gradient(
		to bottom,
		rgb(0, 0, 0) 0%,
		rgb(0, 0, 0) 100%
	);
	box-shadow: 0 9px 25px -5px #000000;
    font-family: "Abel", sans-serif;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-right:1em;
    padding-left:1em;
    margin: 2.3em;
	border-radius: 7px;
	font-size: 1em;
	cursor: url(/img/cursor-02.png), auto;
	color: white;
	outline: none;
	border: none;
    transition: 0.3s linear;
    float:right;
}
.github button,
.github a:hover {
    transform: scale(1.1);
    cursor: url(/img/cursor-02.png), auto;
}
.top{
    margin-top: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
}
.top a{
    width:40px;
    margin:30px;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration: none;
}
.top a img {
    width:40px;
    height:30px;
}
.top a:hover {
    transform: scale(1.2);
    cursor: url(/img/cursor-02.png), auto;
}
}