/* CSS STYLE SHEET FOR PROJECT WEBPAGES DESKTOP*/

@media only screen and (min-width: 769px) {
    html{
        background-position: center;
        width:100vw;
        overflow-x: hidden;
        background: radial-gradient(96.88% 248% at 3.13% 96%, #4C0F29 0%, #9E1A89 64.58%, #4C0F29 100%);
    }
    body {
        background: url('/img/background-design.png');
        background-position: top;
        width:100vw;
        overflow-x:hidden;
        margin-top:15px;
        cursor: url(/img/cursor-01.png), auto;

    }
    h1,
    h2,
    h3,
    h4,
    p:hover {
      cursor: url(/img/cursor-03.png), auto;
    }
    img:hover {
      cursor: url(/img/cursor-02.png), auto;
    }
.download-resume {
    display:flex;
    justify-content: center;
    width:50vw;
}
.download-resume a {
    font-family:'montserrat';
    text-decoration:none;
    color:white;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.download-resume a:hover{
    animation:pulse 1s;
    cursor: url(/img/cursor-02.png), auto;
}
@keyframes pulse{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.09,1.09);
	}
		100%{
		transform:scaleX(1);
	}
}
nav {
    margin-top:10px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.icon-rh {
    display:flex;
    align-items:center;
    justify-content:center;
    width:25vw;
}
.icon-rh img {
    width:8vw;
}
#lightbox {
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,0.8);
    width:100vw;
    margin-bottom:30px;
    position:absolute;
    top:0;
    left:0;
    z-index:-2;
    opacity:0;
    transition:opacity 1s;
}
#lightbox.showLightbox {
    opacity:1;
    z-index:2;
}
#lightbox img {
    width:100vw;
}
.nav-links {
    width: 60vw;
}
.nav-links ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    font-family:'Montserrat';
    color:white;
    font-size: 2vw;
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
    text-decoration: none;
}
.nav-links li a:hover {
    color:rgba(255, 192, 203, 0.815);
    cursor: url(/img/cursor-02.png), auto;
}


/*BEER BOX PROJECT WEBPAGE FOR DESKTOP*/
#lightgallery img {
    width:13vw;
    margin:10px;
}
#lightgallery {
    margin-top:30px;
    margin-bottom:30px;
}
#beerbox_main {
    width:100vw;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box-1 {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:50vw;
}
#text h1 {
    font-family:'abel', sans-serif;
    text-align:right;
    color:white;
    font-size:3vw;
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
}
#text p {
    font-family:'abel', sans-serif;
    color:white;
    font-size: 1em;
}
.about_box {
    display:flex;
    flex-direction:row;
    width:100vw;
    justify-content:center;
    margin-bottom:2vh;
}
#packageimg {
    width:40vw;
    margin-bottom:5px;
    border-radius:10%;
}
.hearts {
    width:10vw;
    margin:10px;
}
.hearts img {
    width:3vw;
}
#heartlike {
    z-index:3;
    position:absolute;
    margin:10px;
}
#heartclick {
    z-index:2;
    position:absolute;
    margin:10px;
}
.box-2 {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.description {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100vw;
}
.description h1 {
    color:white;
    font-family:'abel', sans-serif;
    font-size: 3vw;
    line-height:25vh;
}
#notesnapshot {
    width:50vw;
    border-radius:5%;
}
.par-1 {
    display:flex;
    width:100vw;
    flex-direction:row;
    justify-content: center;
}
.par-1 img {
    width:30vw;
    border-radius:5%;
    margin:5vw;
}
#par-1 {
    margin-right:40px;
    padding:30px;
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    border-top: 2px solid white;
    border-right:2px solid white;
    border-radius:5px;
}
#jellyroll {
    width:60vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
#jellyroll img {
    width:50vw;
    margin-right:10px;
    border-radius:5%;
}
.par-2 {
    display:flex;
    width:100vw;
    justify-content: flex-start;
}
#par-2 {
    margin-left:20px;
    padding:30px;
    width:40vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    border-top: 2px solid white;
    border-left:2px solid white;
    border-radius:5px;
}
#creative_briefs {
    width:60vw;
    margin-right:30px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
}
.par-2 img {
    width:25vw;
    border-radius:5%;
}
.par-3 {
    display:flex;
    flex-direction:column;
    width:100vw;
    justify-content:center;
    align-items:center;
}
.par-3 img {
    width:70vw;
    border-radius:5%;
    margin-bottom:400px;
}
#par-3 {
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
}
.par-3 quote {
    color:rgb(219, 236, 255);
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    text-align:center;
    width:40vw;
}
#par-4 {
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
}
#par-5 {
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
}
.par-6 {
    display:flex;
    width:100vw;
    justify-content: center;
    align-items:center;
    flex-direction:row;
}
#par-6 {
    margin-right:30px;
    padding:30px;
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    border-top: 2px solid white;
    border-right:2px solid white;
    border-radius:5px;
}
.par-6 img {
    width:40vw;
    border-radius:5%;
    margin-left:30px;
}
.logo_sketches {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:100vw;
}
.logo_sketches img {
    width:30vw;
    border-radius: 5%;
}
.joined {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    margin-bottom:40px;
}
.joined img {
    width:60vw;
    border-radius:5%;
}


/* Doodle Stage */
#stage {
    color:rgb(255, 255, 0);
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/thAABNY7DY.jpg);
    /*fixed sizes*/
    height: 250px;
    width: 500px;
    position:relative;
    overflow:hidden;
  }
  #stage:hover #wings img{
    top:10px;
  }
  #stage #wings img{
    z-index:10;
    left:30%;
    top:250px;
    position:absolute;
    transition:1s;
      width:30%;
  }
  #stage #smiles img{
      z-index:10;
      position:absolute;
      width:100%;
      top:-20px;
      opacity:0.4;
      animation:flash 1s 7s;
  }
  #stage #music img{
      z-index:40;
      width:10%;
      left:-30px;
      top:120px;
      position:absolute;
      animation:pulse 5s ease-in infinite;
  }
  #stage #music img{
      animation-name:move;
      animation-duration:3.5s;
      animation-delay:2s;
  }
  @keyframes move{
      0%{transform:translateX(0);opacity:0;}
      50%{opacity:0;}
      100%{transform:translateX(550px);opacity:10;}
  }
  #stage #notes img{
      z-index:40;
      width:10%;
      left:-30px;
      top:120px;
      position:absolute;
      animation:pulse 5s ease-in infinite;
  }
  #stage #notes img{
      animation-name:slide;
      animation-duration:3.5s;
      animation-delay:3s;
  }
  @keyframes slide{
      0%{transform:translateX(0);opacity:0;}
      50%{opacity:0;}
      100%{transform:translateX(550px);opacity:10;}
  }
  /*GOOGLE TEXT*/
  #doodle {
      position: absolute;
      z-index:10;
      top: 30%;
      left: 50%;
      width: 70%;
      transform: translate(-50%, -50%);
  }
  #doodle path{
      stroke: #fcee21;
      fill: black;
      stroke-dasharray: 400;
      opacity: 10;
      animation: animate 5s cubic-bezier(0, 0.23, 1, 0.1);
  }
  /*GOOGLE ANIMATION*/
  @keyframes animate {
      0% {
          opacity: 0;
          fill: none;
          stroke-dashoffset: 400;
      }
      30% {
          opacity: 10;
          fill: none;
          stroke-dashoffset: 400;
      }
      90% {
          fill: rgba(252, 238, 33, 0);
      }
      100% {
          opacity: 10;
          fill: rgba(252, 238, 33, 1);
          stroke-dashoffset: 0;
      }
  }
  /*GUITAR STYLES*/
  #guitar{
      position:absolute;
      z-index:30;
      top: -60px;
      left:40%;
      width:20%;
      animation:strum 2s 1s;
      animation-fill-mode:forwards;
  }
  
  /*GUITAR ANIMATION*/
  @keyframes strum {
      
      0% {
          transform:translateY(0);
      }
      
      100% {
          transform:translateY(250px);
      }
      
  }
      
      /*FRONT VIEW COBAIN*/
  #frontview{
      position: absolute;
      z-index:20;
      top: 50.4%;
      left:40%;
      width: 13.5%;
      animation:center 3s 1s;
  }
  /*ANIMATIONS*/
  @keyframes center{
          0%{opacity:0;}
      100%{opacity:10;}
  }

footer {
    text-align:center;
}
}