/* CSS STYLE SHEET FOR PROJECT WEBPAGES DESKTOP*/

@media only screen and (min-width: 769px) {
    html{
        scroll-behavior: smooth;
        overflow-y: scroll;
        background-position: center;
        width:100vw;
        overflow-x: hidden;
        background: radial-gradient(96.88% 248% at 3.13% 96%, #4C0F29 0%, #9E1A89 64.58%, #4C0F29 100%);
    }
    body {
        width:100vw;
        overflow-x:hidden;
        margin-top:15px;
        cursor: url(/img/cursor-01.png), auto;

    }
    h1,
    h2,
    h3,
    h4,
    p:hover {
      cursor: url(/img/cursor-03.png), auto;
    }
    img:hover {
      cursor: url(/img/cursor-02.png), auto;
    }
.download-resume {
    display:flex;
    justify-content: center;
    width:50vw;
}
.download-resume a {
    font-family:'montserrat';
    text-decoration:none;
    color:white;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.download-resume a:hover{
    animation:pulse 1s;
    cursor: url(/img/cursor-02.png), auto;
}
@keyframes pulse{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.09,1.09);
	}
		100%{
		transform:scaleX(1);
	}
}
nav {
    margin-top:10px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.icon-rh {
    display:flex;
    align-items:center;
    justify-content:center;
    width:25vw;
}
.icon-rh img {
    width:8vw;
}
#lightbox {
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,0.8);
    width:100vw;
    margin-bottom:30px;
    position:absolute;
    top:0;
    left:0;
    z-index:-2;
    opacity:0;
    transition:opacity 1s;
}
#lightbox.showLightbox {
    opacity:1;
    z-index:2;
}
#lightbox img {
    width:100vw;
}
.nav-links {
    width: 60vw;
}
.nav-links ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    font-family:'Montserrat';
    color:white;
    font-size: 2vw;
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
    text-decoration: none;
}
.nav-links li a:hover {
    color:rgba(255, 192, 203, 0.815);
    cursor: url(/img/cursor-02.png), auto;
}


/*BEER BOX PROJECT WEBPAGE FOR DESKTOP*/
#lightgallery img {
    width:13vw;
    margin:10px;
}
#lightgallery {
    margin-top:30px;
    margin-bottom:30px;
}
#beerbox_main {
    width:100vw;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box-1 {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:50vw;
}
#text h1 {
    font-family:'abel', sans-serif;
    text-align:right;
    color:white;
    font-size:3vw;
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
}
#text p {
    font-family:'abel', sans-serif;
    color:white;
    font-size: 1em;
}
.about_box {
    display:flex;
    flex-direction:row;
    width:100vw;
    justify-content:center;
    margin-bottom:2vh;
}
#packageimg {
    width:40vw;
    margin-bottom:5px;
    border-radius:10%;
}
.hearts {
    width:10vw;
    margin:10px;
}
.hearts img {
    width:3vw;
}
#heartlike {
    z-index:3;
    position:absolute;
    margin:10px;
}
#heartclick {
    z-index:2;
    position:absolute;
    margin:10px;
}
.box-2 {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.description {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100vw;
}
.description h1 {
    color:white;
    font-family:'abel', sans-serif;
    font-size: 3vw;
    line-height:25vh;
}
#notesnapshot {
    width:50vw;
    border-radius:5%;
}
.par-1 {
    display:flex;
    width:100vw;
    flex-direction:row;
    justify-content: center;
}
.par-1 img {
    width:40vw;
    border-radius:5%;
    margin:5vw;
}
#par-1 {
    margin-right:40px;
    padding:30px;
    width:50vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    border-top: 2px solid white;
    border-right:2px solid white;
    border-radius:5px;
}
#jellyroll {
    width:60vw;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
#jellyroll img {
    width:50vw;
    margin-right:10px;
    border-radius:5%;
}
.par-2 {
    display:flex;
    width:100vw;
    justify-content: flex-start;
}
#par-2 {
    margin-left:20px;
    padding:30px;
    width:40vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    border-top: 2px solid white;
    border-left:2px solid white;
    border-radius:5px;
}
#creative_briefs {
    width:60vw;
    margin-right:30px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
}
.par-2 img {
    width:25vw;
    border-radius:5%;
}
.par-3 {
    display:flex;
    flex-direction:column;
    width:100vw;
    justify-content:center;
    align-items:center;
}
.par-3 img {
    width:70vw;
    border-radius:5%;
    margin-bottom:400px;
}
#par-3 {
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
}
.par-3 quote {
    color:rgb(219, 236, 255);
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    text-align:center;
    width:40vw;
}
#par-4 {
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
}
#par-5 {
    width:60vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
}
.par-6 {
    display:flex;
    width:100vw;
    flex-direction:row;
    justify-content: center;
}
.par-6 img {
    width:40vw;
    border-radius:5%;
    margin:5vw;
}
#par-6 {
    margin-right:40px;
    padding:30px;
    width:50vw;
    color:white;
    font-family:'abel', sans-serif;
    font-size: 1.5em;
    border-top: 2px solid white;
    border-right:2px solid white;
    border-radius:5px;
}
.logo_sketches {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:100vw;
}
.logo_sketches img {
    width:30vw;
    border-radius: 5%;
}
.joined {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    margin-bottom:40px;
}
.joined img {
    width:60vw;
    border-radius:5%;
}
.github {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    margin-bottom:40px;
}
.github p {
    text-align:center;
    font-size: 1.5em;
    color:white;
    font-family: "Abel", sans-serif;
    margin:20px;
}
.github button {
    background-image: linear-gradient(
		to bottom,
		rgb(0, 0, 0) 0%,
		rgb(0, 0, 0) 100%
	);
	box-shadow: 0 9px 25px -5px #000000;
    font-family: "Abel", sans-serif;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-right:1em;
    padding-left:1em;
    margin: 2.3em;
	border-radius: 7px;
	font-size: 1em;
	cursor: url(/img/cursor-02.png), auto;
	color: white;
	outline: none;
	border: none;
    transition: 0.3s linear;
    float:right;
}
.github button,
.github a:hover {
    transform: translatey(3px);
    cursor: url(/img/cursor-02.png), auto;
}



footer {
    text-align:center;
}
}