html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
body{
color: rgb(243, 142, 142);
}

/* If the screen size is 360px or less */
@media only screen and (max-width: 360px) {
#headline,
#headline img,
.about_me,
.about_box,
.box-1,
.box-2,
.box-2 #headshot,
.box-1 p,
.box-2 #splash,
.box-1 img,
.box-2 h1,
#text,
.description,
.description p,
footer,
#city,
.contact,
.contact h1,
.contact p,
input[type="submit"],
.contact h2,
.contact a,
.contact img,
section #gallery-1,
article #gallery-1,
.about_hiking,
quote {
    display:none;
    }
html{
     background-image: url(/img/crystal_peacockFeather-faded.jpg); 
     background-size: cover;
     background-position: center;
      background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}
h1{
    font-family: 'Reem Kufi', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    text-shadow: 0px 4px 4px rgba(255, 145, 145, 0.3);
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
h3,
li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
/*NAVIGATION BAR screen size 360px or less*/
.hamburger{
    left:20px;
    top:28px;
    cursor:pointer;
    z-index:2;
}
.line {
    width:40px;
    height:3px;
    background:rgb(255, 134, 225);
    margin:8px;
    box-shadow:0px 4px 4px rgba(255, 145, 145, 0.3);
}
li a {
    text-decoration: none;
    color:#93D8EC;
}
li{
    margin-left: 50%;
    list-style:none;
}
.nav-links a:hover {
    color: #b6edfc;
    font-size:26px;
}
.nav-links {
    background-image: linear-gradient(
		to bottom,
        rgb(255, 196, 245,0) 0%,
        rgb(255, 196, 245) 13%,
        rgba(255, 255, 255) 50%,
        rgb(255, 196, 245) 88%,
		rgb(255, 196, 245,0) 100%
	);
    width:100vw;
    clip-path: circle(0px at -20% -20%);
    -webkit-clip-path: circle(0px at -20% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.nav-links.open {
    clip-path: circle(800px at 0% 50%);
    -webkit-clip-path: circle(800px at 0% 50%);
    pointer-events: all;
    z-index:5;
    position:relative;
    width:100vw;
    top: 150px;
    left:-25px;
}
.nav-links.open #flowers{
    width:100vw;
}
.nav-links li{
    opacity:0;
}
.nav-links li:nth-child(1) {
    transition: all 0.5s ease o.2s;
}
.nav-links li:nth-child(2) {
    transition: all 0.5s ease o.4s;
}
.nav-links li:nth-child(3) {
    transition: all 0.5s ease o.6s;
}
li.fade {
    opacity:1;
}
.one a {
    left: 150px;
    top: 350px;
    position:fixed;
}
.two a{
    left: 150px;
    top: 400px;
    position:fixed;
}
/*LANDING PAGES */
.banner{
    position:absolute;
    width:276px;
    height:193px;
    left: calc(50% - 276px/2);
    top: calc(50% - 193px/2 - 0.5px);
    display:flex;
    text-align: center;
    align-items:center;
    opacity:0;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.banner2{
    position:absolute;
    width:276px;
    height:193px;
    left: calc(50% - 276px/2);
    top: calc(50% - 193px/2 - 0.5px);
    display:flex;
    text-align: center;
    align-items:center;
    opacity:0;
    animation-name: fadeIn2;
    animation-duration: 2s;
    animation-delay: 2s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    80% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes fadeIn2 {
    0% {
        opacity:0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity:0;
    }
}

/*MAIN PAGE*/
#rh{
    position:absolute;
    width: 185px;
    height: 187px;
    left: calc(50% - 276px/2);
    top: calc(50% - 193px/2 - 0.5px);
    display:flex;
    text-align: center;
    align-items:center;
    opacity:1;
    animation-name: fadeIn3;
    animation-duration: 6s;
}
@keyframes fadeIn3 {
    0% {
        opacity:0;
    }
    65%{
        opacity:0;
    }
    68%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/*FAIRY ANIMATION*/
.animate__animated .animate__fly #fairy{
	position:absolute;
    z-index:3;
	transform:translate(-50%, -50%);
	animation:fly 6s cubic-bezier(.23,.93,.66,.42)  infinite;
}
#fairy{
    width:20%;
    top:35%;
    left:70%;
	position:absolute;
    z-index:3;
	transform:translate(-50%, -50%);
	animation:fly 6s cubic-bezier(.23,.93,.66,.42)  infinite;
}
@keyframes fly{
	0%{
		
	}
	30%{
		transform:translate(-50%, -40%);
			transform:translateX(-70%);
	}
	50%{
		transform:translate(-50%, -60%);
		transform:translate(10%,50%);
	}
	100%{
		transform:translate(-50%, -40%);
		transform:translate(-50%, -50%);
	}
}
#fairy .cls-1{
	animation:pulsing 1s infinite;
}
@keyframes pulsing{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.06,1.06);
	}
		100%{
		transform:scaleX(1);
	}
}
#fairy .cls-2,
#fairy .cls-3,
.cls-4,
.cls-5 {
	padding:20px;
	animation:shakeY 0.1s infinite;
}
.cls-6,
.cls-7{
		animation:flash 1.9s cubic-bezier(.23,.93,.66,.42) infinite;
}
.cls-8,
.cls-9,
.cls-10{
	animation:flash 2s cubic-bezier(.23,.93,.66,.42) infinite;
}
/*PROJECTS PAGE*/
#gallery_preview{
    text-align:center;
}
#about_projects img:hover{
	animation:pulse 1s;
}
@keyframes pulse{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.09,1.09);
	}
		100%{
		transform:scaleX(1);
	}
}
#about_projects {
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#about_projects img{
	width:100%;
	height:auto;
    margin:20px;
    border: 2px solid rgb(248, 178, 178);
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.4));
    border-radius: 8px;
}
#gallery-1 img{
    width:30vw;
    border: 2px solid rgb(248, 178, 178);
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.3));
    border-radius: 10px;
}
#gallery-1 {
    display:flex;
    justify-content: space-evenly;
}
/*BEER BOX PROJECT PAGE*/
#beer{
    color:rgb(231, 141, 156);
    position: absolute;
    z-index:3;
    width: 226px;
    height: 81px;
    left: 113px;
    top: 22px;
    text-align: right;
}
.box_image #box {
    position: absolute;
    z-index:1;
    width: 364px;
    height: 239px;
    left: 0px;
    top: 94px;
}
#heartlike {
    position: absolute;
    z-index:3;
    width: 51px;
    height: 51px;
    left: 19px;
    top: 275px;
}
#heartclick {
    position:absolute;
    z-index:2;
    width: 51px;
    height: 51px;
    left: 19px;
    top: 275px;
}
#beer_description {
    color: rgb(231, 141, 156);
    position: absolute;
    width: 314px;
    height: 60px;
    left: 24px;
    top: 360px;
}
#read_more{
    color: rgb(226, 147, 160);
    position: absolute;
    width: 112px;
    height: 32px;
    left: 226px;
    top: 412px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    text-align: right;
}
#line{
    position: absolute;
    width: 244px;
    height: 0px;
    left: 59px;
    top: 460px;
    border: 2px solid #e4b5b5;
}
.beerbox{
    position: absolute;
    width: 122px;
    height: 135px;
    left: 10px;
    top: 487px;
}
.beerbox_diecut{
    position: absolute;
    width: 71px;
    height: 64px;
    left: 144px;
    top: 466px;
}
.drawing{
    position: absolute;
    width: 78px;
    height: 78px;
    left: 141px;
    top: 544px;
}
.outline{
    position: absolute;
    width: 111px;
    height: 124px;
    left: 234px;
    top: 498px;
}
/*ABC BOOK PROJECT PAGE*/
#book_project{
    color:rgb(231, 141, 156);
    position: absolute;
    z-index:3;
    width: 226px;
    height: 81px;
    left: 113px;
    top: 22px;
    text-align: right;
}
#cover {
    position: absolute;
    width: 364px;
    height: 239px;
    left: 0px;
    top: 94px;
}
#book_description{
    color: rgb(231, 141, 156);
    position: absolute;
    width: 314px;
    height: 60px;
    left: 24px;
    top: 360px;
}
#l{
    position: absolute;
    width: 71px;
    height: 64px;
    left: 144px;
    top: 466px;
}
#letter{
    position: absolute;
    width: 122px;
    height: 135px;
    left: 10px;
    top: 487px;
}
#letter2{
    position: absolute;
    width: 111px;
    height: 124px;
    left: 224px;
    top: 498px;
}
/*ENDOLYSIN PROJECT PAGE*/

}
/* If the screen size is 360px or less */
@media only screen and (min-width: 361px) {
    /*NAVIGATION BAR*/
    .hamburger,
    .line,
    li a,
    li,
    .nav-links,
    .nav-links li,
    .one img,
    .one a,
    .two img,
    .two a,
    .three img,
    .three a,
    .four img,
    .four a,
    /*LANDING PAGES */
    .banner,
    .banner2,
    /*MAIN PAGE*/
    #rh,
    /*PROJECTS PAGE*/
    #gallery_preview,
    #about_projects,
    #about_projects img,
    #about_projects a,
    footer #gallery-1,
    /*BEER BOX PROJECT PAGE*/
    #beer,
    .box_image #box,
    #heartlike ,
    #heartclick,
    #beer_description,
    #read_more,
    #line,
    .beerbox,
    .beerbox_diecut,
    .drawing,
    .outline,
    /*ABC BOOK PROJECT PAGE*/
    #book_project,
    #cover,
    #book_description,
    #l,
    #letter,
    #letter2 {
        display:none;
    }


    #gallery-1 img{
        width:15vw;
    }
    #gallery-1 {
        display:flex;
        justify-content: space-evenly;
        margin-top: 60px;
    }
    /*FAIRY ANIMATION*/
.animate__animated .animate__fly #fairy{
	position:absolute;
    z-index:3;
	transform:translate(-50%, -50%);
	animation:fly 6s cubic-bezier(.23,.93,.66,.42)  infinite;
}
#fairy{
    width:5%;
    top:50%;
    left:70%;
	position:absolute;
    z-index:3;
	transform:translate(-50%, -50%);
	animation:fly 6s cubic-bezier(.23,.93,.66,.42)  infinite;
}
@keyframes fly{
	0%{
		
	}
	30%{
		transform:translate(-50%, -40%);
			transform:translateX(-70%);
	}
	50%{
		transform:translate(-50%, -60%);
		transform:translate(10%,50%);
	}
	100%{
		transform:translate(-50%, -40%);
		transform:translate(-50%, -50%);
	}
}
#fairy .cls-1{
	animation:pulsing 1s infinite;
}
@keyframes pulsing{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.06,1.06);
	}
		100%{
		transform:scaleX(1);
	}
}
#fairy .cls-2,
#fairy .cls-3,
.cls-4,
.cls-5 {
	padding:20px;
	animation:shakeY 0.1s infinite;
}
.cls-6,
.cls-7{
		animation:flash 1.9s cubic-bezier(.23,.93,.66,.42) infinite;
}
.cls-8,
.cls-9,
.cls-10{
	animation:flash 2s cubic-bezier(.23,.93,.66,.42) infinite;
}
.contact a:hover{
	animation:pulse 1s;
}
@keyframes pulse{
	0%{
		transform:scaleX(1);
	}
	50%{
		transform:scale3d(1.0,1.09,1.09);
	}
		100%{
		transform:scaleX(1);
	}
}
/*WEB PAGE*/
html{
    background-image: url(/img/crystal_peacockFeather-faded.jpg); 
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
     min-width: 100%;
     min-height: 100%;
}
#headline{
    margin-top: 40px;
    display:flex;
    justify-content: center;
}
#headline img{
    width:70vw;
}
.about_me{
    display:flex;
    margin-top: 90px;
    justify-content: space-evenly;
}
.box-2 #headshot{
    float:right;
    margin:20px;
    display:flex;
    justify-content: center;
    align-content: center;
    width:30vw;
}
.box-1 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
    padding:30px;
    background-image: linear-gradient(to bottom, rgba(252, 165, 84,0.3) 0%, rgba(255, 125, 180,0.3) 100%);
    border-radius: 90px;
}
.about_hiking{
    display: flex;
    flex-wrap: wrap;
}
.about_hiking img{
    width:40vw;
    margin:20px;
}
quote{
    margin:20px;
    font-family: 'dancing script', cursive;
    color:lightseagreen;
    font-size: calc(16px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
	line-height: calc(1.2em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
}
.about_hiking p{
    width:30vw;
    margin:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
}
.about_box{
    height:60vh;
    margin-top:90px;
    margin-bottom:40px;
    display:flex;
    justify-content: space-around;
}
.box-1{
    margin:20px;
}
.box-2{
    margin:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box-2 #splash{
    width:40vw;
    height:70vh;
}
.box-1 img{
    width:45vw;
}
.box-2 h1{
    text-align: right;
}
#text{
    color:rgb(16, 86, 140);
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
}
.description{
    margin:30px;
}
.description p{
    color:lightseagreen;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));    
}
footer{
    display:flex;
    justify-content: center;
}
#city{
    width:100%;
}
.contact {
    z-index:2;
    position:absolute;
    display:flex;
    flex-direction:column;
    padding-top:110px;
}
.contact h1{
    font-family: "Abel", sans-serif;
    color:rgba(255, 111, 28, 0.86);
	font-size: calc(20px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
}
.contact p{
    font-family: "Abel", sans-serif;
    color:rgba(255, 136, 40, 0.86);
    font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 400px)/(1600 - 300)));
}
input[type="submit"] {
	background-image: linear-gradient(
		to left,
		rgba(255, 119, 40, 0.75) 0%,
		rgba(255, 65, 230, 0.86) 100%
	);
	box-shadow: 0 9px 25px -5px #ff5f15;
	font-family: "Abel", sans-serif;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #ffffff;
	outline: none;
	border: none;
	transition: 0.3s linear;
}
input[type="submit"]:hover {
	transform: translatey(3px);
}
input[type="submit"]:active {
	transform: translatey(7px);
}
.contact h2{
    color:rgb(16, 86, 140);
    font-family: 'Dancing Script', cursive;
	font-size: calc(20px + (26 - 14) * ((100vw - 200px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 200px)/(1600 - 300)));
    text-align: center;
    justify-content: end;
    display:flex;
}
.contact a {
    text-decoration: none;
    display:flex;
    justify-content: end;
    margin-bottom: 80px;
}
.contact img{
    width:12%;
    margin-right: 20px;
}
    }


