*{
    margin:0;
    padding:0;
}
body,
html{
    width:100%;
}
body{
overflow: hidden;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
}

/* If the screen size is 600px or less */
@media only screen and (max-width: 380px) {
h1{
    font-family: 'Reem Kufi', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
h3,
li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
}

/*LANDING PAGES */
.banner{
    position:absolute;
    width:276px;
    height:193px;
    left: calc(50% - 276px/2);
    top: calc(50% - 193px/2 - 0.5px);
    display:flex;
    text-align: center;
    align-items:center;
    opacity:0;
    animation-name: fadeIn;
    animation-duration: 4s;
}
.banner2{
    position:absolute;
    width:276px;
    height:193px;
    left: calc(50% - 276px/2);
    top: calc(50% - 193px/2 - 0.5px);
    display:flex;
    text-align: center;
    align-items:center;
    opacity:0;
    animation-name: fadeIn2;
    animation-duration: 4s;
    animation-delay: 4s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    80% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes fadeIn2 {
    0% {
        opacity:0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity:0;
    }
}

/*NAVIGATION BAR*/
.hamburger{
    left:10px;
    top:18px;
    cursor:pointer;
    z-index:2;
}
.line {
    width:30px;
    height:3px;
    background:rgb(59, 59, 59);
    margin:5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
li a {
    text-decoration: none;
}
li{
    margin-left: 50%;
    list-style:none;
}
.nav-links {
    display:flex;
    justify-content: space-around;
    background:rgba(37, 37, 173, 0.096);
    height:100vh;
    width:100%;
    flex-direction:column;
    clip-path: circle(0px at -20% -20%);
    -webkit-clip-path: circle(0px at -20% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.nav-links.open {
    clip-path: circle(400px at 0% 50%);
    -webkit-clip-path: circle(400px at 0% 50%);
    pointer-events: all;
}
.nav-links li{
    opacity:0;
}
.nav-links li:nth-child(1) {
    transition: all 0.5s ease o.2s;
}
.nav-links li:nth-child(2) {
    transition: all 0.5s ease o.4s;
}
.nav-links li:nth-child(3) {
    transition: all 0.5s ease o.6s;
}
li.fade {
    opacity:1;
}